@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Anta", sans-serif;
}
body{
  color: white;
  background: url('https://images.pexels.com/photos/6470652/pexels-photo-6470652.jpeg?cs=srgb&dl=pexels-jeremy-m%C3%BCller-6470652.jpg&fm=jpg&_gl=1*asbyoo*_ga*MTkwMjg5NDczMC4xNzA4OTUyMDkx*_ga_8JE65Q40S6*MTcwODk1MjA5MS4xLjEuMTcwODk1MjE0My4wLjAuMA..') no-repeat center center fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
nav.encabezado {
  display: flex;
  align-items: center;
  height: 60px;
  gap: 20px;
  padding: 10px 5px;
  font-size: 2em;
  background-color: transparent;
  backdrop-filter: blur(10px);
}
img {
  margin: 5px;
  height: 50px;
  border-radius: 0px 20px 0px 20px;
}

div.container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  padding: 50px;
  gap: 30px;
  row-gap: 20px;
  font-size: 1.7em;
}
div.name{
  display: flex;
  grid-column: span 2;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  gap: 10px;
}
.boton{
  padding: 5px 30px;
  border-radius: 0 15px 0 15px;
  font-size: 1em;
  transition: 0.4s;
}
.boton:hover{
  transform: scale(1.1);
}
div.card{
  display: grid;
  grid-template: 3fr 1fr / 1fr 1fr;
  background-color: transparent;
  backdrop-filter: blur(5px);
  padding: 5px;
  border-radius: 10px;
  align-items: center;
  min-height: 300px;
  box-shadow: 0 0 7px lightgray;
}
div.image{
  grid-column: span 2;
  text-align: center;
}
div.image img{
  object-fit: contain;
  width: 80%;
  height: auto;
  min-width: 200px;
}
.opacity{
  display: none;
  z-index: 4;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  backdrop-filter: blur(10px);
}
dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #414141c2;
  padding: 30px;
  width: 75vw;
  height: 75vh;
  z-index: 5;
  overflow-y: auto;
  color: white;
  border: none;
  border-radius: 0px 40px 0px 40px;
} 
.general{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  text-align: justify;
  gap: 20px;
}
div.imageModal{
  text-align: center;
}
.imgModal{
  object-fit: contain;
  max-width: 300px;
  max-height: 500px;
  height: auto;
  width: auto;
}
.cerrar{
  position: absolute;
  right: 5%;
}

#search{
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin: 5px 10px;
}

.up i{
  padding: 3px;
  position: fixed;
  bottom: 1%;
  right: 1%;
  background-color: transparent;
  backdrop-filter: blur(10px);
  width:fit-content;  
  border-radius: 0 15px 0 15px;
  font-size: 2rem;
  z-index: 4;
  box-shadow: 0 0 7px lightgray;
}

.buscador{
  padding: 5px;
  border-radius: 0 15px 0 15px;
}

@media (max-width:600px) {
  nav.encabezado {
    font-size: 5vw;
  }
  div.container{
    font-size: 5vw;
  }
  .general{
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .imgModal{
    max-width: 200px;
  }
}